{{if (status && recordList.length > 0)}}
	{{each recordList}}
	<tr>
		<td class='t_c'>
			<input name="Id" type="checkbox" value="{{$value.Id}}" />
			{{$value.Id}}
		</td>
		<td class="t_r">
			{{if ($value.Title)}}{{$value.Title}}{{else}}-{{/if}}
		</td>
		<td>
			{{if ($value.Tag)}}
				{{each $value.Tag.split(',') as $item}}
					<div class="tag inline-block">{{$item}}</div>
				{{/each}}
			{{/if}}
		</td>
		<td>
			{{if ($value.Level)}}{{renderEnums($value.Level,Enums.CategoryImageLevel)}}{{/if}}
		</td>
		<td class="t_c">
			<a target="_blank" class="btn btn-sm btn-default" href="{{$value.Src}}"><img class="img-thumbnail" src="{{$value.Src}}?{{$value.DateTimeModify}}" /></a>
		</td>
		<td class="t_c">
			{{if ($value.Status)}}启用{{else}}禁用{{/if}}
		</td>
		<td class="t_c">
			{{if ($value.DateTimeCreate)}}{{$value.DateTimeCreate.replace(/(\d{4})-(\d{2})-(\d{2}) (\d{2})\:(\d{2})\:(\d{2})/,"$1-$2-$3")}}{{else}}-{{/if}}
			<br />
			{{if ($value.DateTimeModify)}}{{$value.DateTimeModify.replace(/(\d{4})-(\d{2})-(\d{2}) (\d{2})\:(\d{2})\:(\d{2})/,"$1-$2-$3")}}{{else}}-{{/if}}
		</td>
		<td class="t_c">
			<div class="btn-group">
				<div class="btn-group">
					<button class="btn btn-sm btn-info" type="button" onclick="categoryImageRelationAdd(this,{{$value.Id}},{{CategoryId}})">添加</button>
				</div>
			</div>
		</td>
	</tr>
	{{/each}}
{{else}}
	<tr class="odd_color">
		<td class="align_l p10_l bgr_eb" colspan="8">暂无数据</td>
	</tr>
{{/if}}