{{if (status && recordList.length > 0)}}
	{{each recordList}}
	<tr>
		<td>{{$value.Id}}</td>
		<td class="t_r">{{$value.Code}}</td>
		<td class="t_r">{{$value.Title}}</td>
		<td class="t_c">
			<div class="btn-group">
				<button class="btn btn-sm btn-info" type="button" onclick="topicEditor(this,{{$value.Id}})">编辑</button>
				<button class="btn btn-sm btn-danger" type="button" onclick="topicDelete(this,{{$value.Id}})">删除</button>
				<button class="btn btn-sm btn-success" type="button" onclick="topicItemEditor(this,0,{{$value.Id}})">添加子项</button>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="4" id="item_{{$value.Id}}">
		{{if ($value.Items && $value.Items.length > 0)}}
			{{include './topicitemmanger' $value}}
		{{/if}}
		</td>
	</tr>
	{{/each}}
{{else}}
	<tr class="odd_color">
		<td class="align_l p10_l bgr_eb" colspan="4">暂无数据</td>
	</tr>
{{/if}}