<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">编辑 {{if (model)}} -{{model.Name}} {{/if}}</h4>
			</div>
			<div class="modal-body">
				<form class="editorForm" action="?model=usermessage&action=usermessagesave">
					<input name="ReplayId" value="{{if (model)}}{{model.Id}}{{else}}0{{/if}}" type="hidden" />
					<fieldset>
						<table class="table table-none">
							<tr>
								<td>
									<div class="input-group">
										<span class="input-group-addon">收件人：</span>
										<input name="User_Name" type="text" placeholder="收件人：" class="form-control input-sm" value="{{if (model.Sender_Name)}}{{model.Sender_Name}}{{/if}}">
										<input name="User_Id" type="hidden" value="{{if (model.Sender_Id)}}{{model.Sender_Id}}{{/if}}">
									</div>									
								</td>
							</tr>
							<tr>
								<td>
									<div class="input-group">
										<span class="input-group-addon">发件人：</span>
										<input name="Sender_Name" type="text" placeholder="发件人：" class="form-control input-sm" value="">
										<input name="Sender_Id" type="hidden" value="">
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="input-group">
										<label>系统<input id="Flag0" name="Flag" type="radio" value="0" /></label>
										<label>用户<input id="Flag1" name="Flag" type="radio" value="1" /></label>
									</div>
								</td>
							</tr>
							{{if (model.Message)}}
							<tr>
								<td>
									{{model.Message}}
								</td>
							</tr>
							{{/if}}
							<tr>
								<td>
									<div class="input-group" style="width:100%">
										<textarea name="Message" style="width:100%" class="form-control input-sm"></textarea>
									</div>
								</td>
							</tr>
						</table>
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary btn-save">保存</button>
			</div>
		</div>
	</div>
</div>