<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">编辑</h4>
			</div>
			<div class="modal-body">
				<form class="editorForm form-horizontal" enctype="multipart/form-data" action="?model=userimage&action=userimagesave">
					<input id="Id" name="Id" value="{{model.Id}}" type="hidden" />
					{{if (!model)}}
					<div class="row">
						<div class="input-group ">
							<span class="input-group-addon">本地上传</span>
							<input id="imgs[]" name="imgs[]" type="file" multiple="multiple" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="input-group">
							<span class="input-group-addon">网络路径</span>
							<input id="Src" name="Src" type="text" class="form-control">
						</div>
					</div>
					{{/if}}
					<div class="row">
						<textarea id="Description" name="Description" class="form-control" placeholder="介绍说明">{{model.Description}}</textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary btn-save">保存</button>
			</div>
		</div>
	</div>
</div>