{{if (status && recordList.length > 0)}}
	{{each recordList as row}}
	<tr>
		{{if (PageItems && PageItems.length > 0)}}
			{{each PageItems as column }}
		<td class="{{if (column.BodyCss)}}{{column.BodyCss}}{{/if}}">
			{{if (column.Key == 'Status')}}
				{{if (row[column.Key])}}启用{{else}}禁用{{/if}}
			{{else if (column.Key == 'Sex')}}
				{{if (row[column.Key])}}男{{else}}女{{/if}}
			{{else if (column.Type == 'checkbox')}}
				<input type="checkbox" name="{{column.Key}}" value="{{row[column.Key]}}" autocomplete="off" />
			{{else if (column.Type == 'radio')}}
				<input type="radio" name="{{column.Key}}" value="{{row[column.Key]}}" autocomplete="off" />
			{{else}}
				{{row[column.Key]}}
			{{/if}}
		</td>
			{{/each}}
		{{/if}}
	</tr>
	{{/each}}
{{else}}
	<tr class="odd_color">
		<td class="align_l p10_l bgr_eb" colspan="{{if (PageItems && PageItems.length > 0)}}{{PageItems.length+1}}{{else}}1{{/if}}">暂无数据</td>
	</tr>
{{/if}}