<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">编辑 {{if (model)}} -{{model.Name}} {{/if}}</h4>
			</div>
			<div class="modal-body">
				<form class="editorForm form-inline" action="?model=user&action=usersave">
					<input name="Id" value="{{if (model)}}{{model.Id}}{{else}}0{{/if}}" type="hidden" />
					<fieldset>
						<table class="table table-none">
							<tr>
								<td class="col2-1">
									<div class="input-group">
										<span class="input-group-addon">名称</span>
										<input name="Name" type="text" placeholder="名称" class="form-control input-sm" value="{{if (model)}}{{model.Name}}{{/if}}">
									</div>
								</td>
								<td class="col2-2">
									<div class="input-group">
										<span class="input-group-addon">登录账号编号</span>
										<input name="AccountId" type="text" placeholder="登录账号编号" class="form-control input-sm" value="{{if (model)}}{{model.AccountId}}{{/if}}">
									</div>
								</td>
							</tr>
							<tr>
								<td class="col2-1">
									<div class="input-group">
										<span class="input-group-addon">昵称：</span>
										<input name="NickName" type="text" placeholder="昵称" class="form-control input-sm" value="{{if (model)}}{{model.NickName}}{{/if}}">
									</div>
								</td>
								<td class="col2-2">
									<div class="input-group">
										<span class="input-group-addon">性别：</span>
										<input name="Sex" type="checkbox" class="radio" value="1" {{if (model && model.Sex)}}checked="checked"{{/if}}>
									</div>
								</td>
							</tr>
							<tr>
								<td class="col2-1">
									<div class="input-group">
										<span class="input-group-addon">生日：</span>
										<input name="Birthday" type="input" placeholder="生日：" class="form-control input-sm" value="{{if (model && model.Birthday)}}{{model.Birthday.replace(/(\d{4})-(\d{2})-(\d{2}) (\d{2})\:(\d{2})\:(\d{2})/,"$1-$2-$3")}}{{else}}{{/if}}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'});">
									</div>
								</td>
								<td class="col2-2">
									<div class="input-group">
										<span class="input-group-addon">年龄：</span>
										<input name="Age" disabled="disabled" placeholder="年龄" type="number" class="form-control input-sm" {{if (model && model.Sex)}}checked="checked"{{/if}}>
									</div>
								</td>
								
							</tr>
							<tr>
								<td class="col2-1">
									<div class="input-group">
										<span class="input-group-addon">身高</span>
										<input name="BodyHeight" type="number" placeholder="身高" class="form-control input-sm" value="{{if (model)}}{{model.BodyHeight}}{{/if}}">
									</div>
								</td>
								<td class="col2-2">
									<div class="input-group">
										<span class="input-group-addon">体重</span>
										<input name="BodyWeight" type="number" placeholder="体重" class="form-control input-sm" value="{{if (model)}}{{model.BodyWeight}}{{/if}}">
									</div>
								</td>
							</tr>
							<tr>
								<td class="col2-1">
									<div class="input-group">
										<span class="input-group-addon">学历</span>
										<select id="EducationalHistory" name="EducationalHistory" placeholder="学历" class="form-control input-sm">
											<option value="0">-</option>
											{{each Enums.EducationalHistory as item}}
												<option{{if (model && model.EducationalHistory == item.Key)}} selected="selected"{{/if}} value="{{item.Key}}">{{item.Value}}</option>
											{{/each}}
										</select>
									</div>
								</td>
								<td class="col2-1">
									<div class="input-group">
										<span class="input-group-addon">星座</span>
										<select id="Constellation" name="Constellation" class="form-control input-sm">
											<option value="0">-</option>
											{{each Enums.Constellation as item}}
												<option{{if (model && model.Constellation == item.Key)}} selected="selected"{{/if}} value="{{item.Key}}">{{item.Value}}</option>
											{{/each}}
										</select>
									</div>
								</td>
							</tr>
							<tr>
								<td class="col2-1">
									<div class="input-group">
										<span class="input-group-addon">婚姻状况</span>
										<select name="CivilState" class="form-control input-sm">
											<option value="0">-</option>
											{{each Enums.CivilState as item}}
												<option{{if (model && model.CivilState == item.Key)}} selected="selected"{{/if}} value="{{item.Key}}">{{item.Value}}</option>
											{{/each}}
										</select>
									</div>
								</td>
								<td class="col2-1">
									<div class="input-group">
										<span class="input-group-addon">职业</span>
										<input name="Career" type="text" placeholder="职业" class="form-control" value="{{if (model)}}{{model.Career}}{{/if}}"
									</div>
								</td>
							</tr>
							<tr>
								<td class="col2-1">
									<div class="input-group">
										<span class="input-group-addon">联系方式</span>
										<input name="ContactWay" type="text" placeholder="联系方式" class="form-control" value="{{if (model)}}{{model.ContactWay}}{{/if}}"
									</div>
								</td>
								<td class="col2-1">
									<div class="input-group">
										<span class="input-group-addon">QQ</span>
										<input name="ContactQQ" type="text" placeholder="QQ" class="form-control" value="{{if (model)}}{{model.ContactQQ}}{{/if}}"
									</div>
								</td>
							</tr>
							<tr>
								<td class="col2-1">
									<div class="input-group">
										<span class="input-group-addon">邮箱</span>
										<input name="ContactEmail" type="text" placeholder="邮箱" class="form-control" value="{{if (model)}}{{model.ContactEmail}}{{/if}}"
									</div>
								</td>
								<td class="col2-1">
									<div class="input-group">
										<span class="input-group-addon">联系电话</span>
										<input name="ContactMobile" type="text" placeholder="联系电话" class="form-control" value="{{if (model)}}{{model.ContactMobile}}{{/if}}"
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<textarea name="Description" class="form-control" style="width:100%;" placeholder="备注">{{if (model)}}{{model.Description}}{{/if}}</textarea>
								</td>
							</tr>
						</table>
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary btn-save">保存</button>
			</div>
		</div>
	</div>
</div>