{{if (status && recordList.length > 0)}}
	{{each recordList}}
	<tr>
		<td class="t_c"><input name="ids[]" type="checkbox" value="{{$value.Id}}" /></td>
		<td class="t_r">
			{{$value.Id}}
			<br />
			{{$value.ReplayId}}
		</td>
		<td class="t_c">{{renderEnums($value.Flag,Enums.MessageFlag)}}</td>
		<td class="t_l">
			{{if $value.Status_User == 0}}未读
			{{else if $value.Status_User == 1}}已读
			{{else if $value.Status_User == 2}}已删
			{{/if}}
			<br />
			{{$value.User_Name}}
		
		</td>
		<td class="t_l">
			{{if $value.Status_Sender == 0}}未读
			{{else if $value.Status_Sender == 1}}已读
			{{else if $value.Status_Sender == 2}}已删
			{{/if}}
			<br />
			{{$value.Sender_Name}}
		</td>
		<td class="t_c">
			{{if ($value.DateTimeCreate)}}{{$value.DateTimeCreate.replace(/(\d{4})-(\d{2})-(\d{2}) (\d{2})\:(\d{2})\:(\d{2})/,"$1-$2-$3 $4:$5")}}{{else}}-{{/if}}
			<br />
			{{if ($value.DateTimeModify)}}{{$value.DateTimeModify.replace(/(\d{4})-(\d{2})-(\d{2}) (\d{2})\:(\d{2})\:(\d{2})/,"$1-$2-$3 $4:$5")}}{{else}}-{{/if}}
		</td>
		<td class="t_r">{{$value.Message}}</td>
		<td class="t_c">
			<div class="btn-group">
				<button class="btn btn-sm btn-success" onclick="userMessageEditor(this,{{$value.Id}})" type="button">回复</button>
				<button class="btn btn-sm btn-danger" type="button" onclick="userMessageDelete(this,{{$value.Id}})">删除</button>
			</div>
		</td>
	</tr>                                               
	{{/each}}
{{else}}
	<tr class="odd_color">
		<td class="align_l p10_l bgr_eb" colspan="8">暂无数据</td>
	</tr>
{{/if}}