{{if (status && recordList.length > 0)}}
	<tr><td colspan="7">
	{{each recordList}}
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="{{$value.Src}}" alt="">
			<div class="caption">
				<p>
					{{if ($value.Description)}}{{$value.Description}}{{/if}}
				</p>
				<p>
					<div class="btn-group">
						<button type="button" class="btn btn-sm btn-info" onclick="userImageEditor(this,{{$value.Id}})">编辑</button> 
						{{if ($value.Status)}}
							<button type="button" class="btn btn-sm btn-warning" onclick="userImageChangeStatus(this,{{$value.Id}},0)">禁用</button> 
						{{else}}
							<button type="button" class="btn btn-sm btn-success" onclick="userImageChangeStatus(this,{{$value.Id}},1)">启用</button> 
						{{/if}}
						{{if ($value.IsDefault)}}
							<button type="button" class="btn btn-sm btn-warning" onclick="userImageChangeDefault(this,{{$value.Id}},0)">配图</button> 
						{{else}}
							<button type="button" class="btn btn-sm btn-success" onclick="userImageChangeDefault(this,{{$value.Id}},1)">主图</button> 
						{{/if}}
						<button type="button" class="btn btn-sm btn-default" onclick="userImageChangeUser_Id(this,{{$value.Id}})">用户</button>
						{{if ($value.User_Id)}}
							<button type="button" class="btn btn-sm btn-default" onclick="userImageChangeOrderNumber(this,{{$value.Id}},{{$value.User_Id}},1)"><span class="glyphicon glyphicon-arrow-up"></span></button>
							<button type="button" class="btn btn-sm btn-default" onclick="userImageChangeOrderNumber(this,{{$value.Id}},{{$value.User_Id}},-1)"><span class="glyphicon glyphicon-arrow-down"></span></button>
						{{else}}
							<button type="button" class="btn btn-sm btn-default disabled" disabled="disabled"><span class="glyphicon glyphicon-arrow-up"></span></button>
							<button type="button" class="btn btn-sm btn-default disabled" disabled="disabled"><span class="glyphicon glyphicon-arrow-down"></span></button>
						{{/if}}
						<button type="button" class="btn btn-sm btn-danger" onclick="userImageDelete(this,{{$value.Id}})">删除</button> 
					</div>
				</p>
			</div>
		</div>
	</div>
	{{/each}}
	</td></tr>
{{else}}
	<tr class="odd_color">
		<td class="align_l p10_l bgr_eb" colspan="7">暂无数据</td>
	</tr>
{{/if}}